.App {
  text-align: center;
}

.navbar{
  height: 50px;
  background-color: lightskyblue;
}

.container{
  height: 300px;
}

.stream{
  margin-top: 50px;
}

.exam {
  margin-top: 20px;
}

.submit-btn{
  margin-top: 20px;
  height: 30px;
  color: rgb(120, 167, 196);
  border: 1px solid rgb(120, 167, 196);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-effect:hover{
  background-color: white;
  color: black;
}